<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <style>
        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <nav>
        <a href="/">FlaskApp</a>
        <a href="/about">About</a>
    </nav>
    <h1>
        {{ utc_dt }}
    </h1>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>

</html>